.header-module{
  border:2px dotted red;
  padding: 5px;
  margin: 10px 0px;
}
.app-module{
  border:2px dotted blue;
  padding: 5px;
  margin: 10px 0px;
}
.lazyload-module{
  border:2px dotted red;
  padding: 5px;
  margin: 10px 0px;
}
button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 5px;
  float: right;
}